doctype html
md-list
  h3(md-subheader) Categories
  md-list-item(*ngFor='let item of sidebarService.items', [routerLink]='[sidebarService.basePath, item.slug]')
    md-icon(md-list-icon) chevron_right
    span.mat-button {{ item.name }}
