@import '~@angular/material/theming';

$candy-app-primary: mat-palette($mat-light-green);
$candy-app-accent:  mat-palette($mat-lime, A200, A100, A400);

md-list {
  border-right: 1px solid #eee;
}

md-list-item {
  border-left: 1px solid #b9b9b9;
  background-color: #eee;
  margin-bottom: 5px;
}

md-list-item:hover {
  background-color: mat-color($candy-app-primary);
  color: white;
  cursor: pointer;
}

.mat-button {
  text-align: left;
}
